*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif ;
}

body
{
    display: flex;
    flex-direction: column;
    min-height: 100px;
}

nav
{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    margin-right: 30px;
    margin-top: 30px;
}

nav a
{
    display: flex;
    font-size: 13px;
    display: flex;
    line-height: 30px;
    font-weight: 400px;
    color: black;
    cursor: pointer;
    padding: 8px 10px;
}

.menu
{
    display: flex;
    width: 34px;
    padding: 5px;
    margin: auto 6px;
    cursor: pointer;
    color: black;
    background-color: white;
}

nav button
{
    display: flex;
    border: 1px solid blue;
    color:white;
    background-color: blue;
    font-weight: bold;
    padding: 7px 12px;
    margin-left: 7px;
    cursor: pointer;
}

.section-1
{
    flex: 1;
}

.section-1 .logo
{
    cursor: pointer;
    display: flex;
    margin: 0px auto;
    margin-top: 105px;
}

.s-box
{
    align-items: center;
    width: 590px;
    margin: 0px auto;
    margin-top: -8px;
    text-align: center;
    outline: none;
}

.s-box .s-input
{

    display: flex;
    border: 2px solid #ddd;
    color: gray;
    font-size: 16px;
    padding: 10px;
    padding-left: 90px;
    border-radius: 30px;
    width: 100%;
    

}

.s-box .s-input:hover 
{
    border: 2px solid  #fff;
    box-shadow: white ;
}

.s-btn
{
    border:1px solid transparent;
    padding: 9px 15px;
    font-size: 14px;
    border-radius: 10px;
    display: inline-block;
    margin-right: 10px;
    margin-top: 28px;
    outline: none;
    cursor: pointer;
    transition: border-color 100ms;
}

.s.btn:hover
{
    border: 1px solid gray
}

.logo
{
    margin-top: 100px;
    margin-right: 1000% ;
}

footer
{
    background: rgb(238, 237, 237);
}

footer h5
{
  color: rgba(0,0,0 0.54);
  font-size: 15px;
  line-height: 40px;
  font-weight: 400px;
  padding-left: 29px;
  border: 1px solid white;
}

footer a
{
    color: gray;
    display: inline-block;
    padding: 12px 12px;
    font-size: 14px;
}

footer a:hover
{
    text-decoration: underline;
}


.links
{
    border-top: 1px solid #ddd;
    display: flex;
}

.link-1
{
    padding-left: 18px;
    flex: 1;
}

.link-2
{
    padding-right: 18px;
    flex: 1;
}

.barre
{
    margin-top: 500px;
}



